@media screen and (min-width: 0) and (max-width: 1157px) {
  /**-----------------------RESULTS-NONE---------------------------**/
  .results {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer-item-title,
  .footer-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-form-input {
    opacity: 0.3;
  }

  .footer-form {
    width: 100%;
  }

  .form {
    flex-direction: column;
  }

  .footer-form-input {
    width: 100%;
  }

  .footer-cap {
    text-align: center;
  }
}

@media screen and (min-width: 428px) {
  .team-section > .container {
    max-width: 264px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  /**-----------------------HEADER-769---------------------------**/

  /**-----------------------MAIN-768---------------------------**/
  .main-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people_office_tab.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people_office_tab_2x.jpg);
    }
  }

  .main-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }
  /**-----------------------GOAL-768---------------------------**/
  .goal-list {
    column-gap: 24px;
  }

  .goal-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .goal-title {
    text-align: start;
  }

  /**-----------------------TEAM-768---------------------------**/
  .team-section > .container {
    max-width: 584px;
  }

  .team-section {
    padding-bottom: 96px;
  }

  .team-list {
    column-gap: 24px;
  }
  /**-----------------------CUSTOMERS-768---------------------------**/
  .customers > .container {
    max-width: 584px;
  }

  .customers-list {
    column-gap: 24px;
  }

  .customers-item {
    flex-basis: calc((100% - 48px) / 3);
  }
  /**-----------------------FOOTER-768---------------------------**/
  .footer-section .container {
    max-width: 584px;
    justify-content: flex-start;
    column-gap: 24px;
    row-gap: 72px;
  }

  .footer-section {
  }

  .footer-text {
    max-width: 264px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
  }
  /**-----------------------HEADER-1158---------------------------**/

  /**-----------------------MAIN-1158---------------------------**/
  .main-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people_office.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people_office_2x.jpg);
    }
  }
  /**-----------------------GOAL-1158---------------------------**/
  .goal-section {
    padding: 120px 0;
  }

  .goal-svg {
    display: flex;
    width: 264px;
    height: 112px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: var(--cloud, #f4f4fd);
    margin-bottom: 8px;
  }

  .goal-list-item {
    flex-basis: calc((100% - 24px * 3) / 4);
  }

  .goal-title {
    text-align: start;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  /**-----------------------RESULTS-1158---------------------------**/
  .results {
    padding-bottom: 120px;
  }

  .result-title {
    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
  }

  .results-list {
    display: flex;
    gap: 24px;
  }

  .results-list-item {
    flex-basis: calc((100% - 48px) / 3);
  }
  /**-----------------------TEAM-1158---------------------------**/
  .team-section > .container {
    max-width: 1158px;
  }

  .team-section {
    padding: 120px 0;
  }

  .team-card {
    flex-basis: calc((100% - 72px) / 4);
  }
  /**-----------------------CUSTOMERS-1158---------------------------**/
  .customers > .container {
    max-width: 1158px;
  }

  .customers {
    padding: 120px 0;
  }

  .customers-item {
    flex-basis: calc((100% - 24px * 5) / 6);
  }
  /**-----------------------FOOTER-1158---------------------------**/
  .footer-section .container {
    max-width: 1158px;
    justify-content: space-between;
  }

  .footer-section {
    padding: 100px 0;
  }
}
